@import 'variables';

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}

.menu-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2.5rem;
  justify-content: center;
  margin-top: 2rem;
}
